# All Ignore
#*
*~
*\#$

/.xmonad/*
!/.xmonad/xmonad.hs
/.zsh/

/.emacs.d/*.el
!/.emacs.d/init.el

/.emacs.d/el-get/el-get
/.emacs.d/el-get/recipes
/.emacs.d/el-get/repo
/.emacs.d/el-get/*.el
/.emacs.d/el-get/*.elc
/.emacs.d/image-dired/
/.emacs.d/var
/.emacs.d/elisp/*.elc
/.emacs.d/elisp/*.el
/.emacs.d/url
/.emacs.d/ac-comphist.dat
/.emacs.d/cedet-bzr
/.emacs.d/srecode-map.el
/.emacs.d/snippets/enh-ruby-mode/
