# All Ignore
#*
*~
*\#$

/.emacs.d/elisp/*.elc
/.emacs.d/elisp/*.el
/.emacs.d/elpa
/.xmonad/*
!/.xmonad/xmonad.hs
/.emacs.d/url
/.emacs.d/elisp/*
/.emacs.d/public_repos/*
/.emacs.d/ac-comphist.dat
/.emacs.d/cedet-bzr
/.emacs.d/srecode-map.el
/.emacs.d/#init.el#
/.emacs.d/.#init.el
