[include]
	path = ~/dotfiles/.gitconfig.local
[user]
name = tsu-nera
email = fox10225fox@gmail.com

[color]
	ui = auto
[gui]
	encoding = utf-8
[core]
	quotepath = false
[alias]
	ci = commit -a
        di = diff
        br = branch
        co = checkout
        st = status
