[include]
	path = ~/dotfiles/.gitconfig.local
	
[color]
	ui = auto
[gui]
	encoding = utf-8
[core]
	quotepath = false
[alias]
	ci = commit -a
        di = diff
        br = branch
        co = checkout
        st = status
[github]
	user = tsu-nera
[user]
	email = fox10225fox@gmail.com
	name = Tsunemichi Harada
