[include]
	path = ~/dotfiles/.gitconfig.local

[color]
	ui = auto
[gui]
	encoding = utf-8
[core]
	quotepath = false
	editor = emacs
	autoCRLF = false
[alias]
        a = add .
	c = commit -v
	ci = commit -v	
        b = branch
        o = checkout
	co = checkout
        s = status
        st = status	
	ss = status -s
	sh = show
	p = pull
	pu = push --set-upstream origin
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	ta = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	drag = pull --rebase
	refresh= !git fetch origin && git remote prune origin
	d  = diff
	d1 = diff HEAD~
	d2 = diff HEAD~2
	d3 = diff HEAD~3
	f = "!git ls-files | grep -i"
	precommit = diff --cached --diff-algorithm=minimal -w
	oneline = log --oneline
	ec = !git commit --allow-empty -m \"Make PR\"
        mkpr = !"f() { git checkout -b $1; git ec; git push -u origin $1; hub pull-request -l WIP -a tsu-nera -m $1; }; f"
