# All Ignore
#*
*~
/.emacs.d/elisp/*.elc
/.emacs.d/elpa
/.emacs.d/elisp/color-theme

# Except
# Emacs
#!/.emacs.d/init.el
#!/.emacs.d/conf/
#!*.el
#!*.org
#!*.txt
#!/.emacs.d/elisp/ruby
#!/.emacs.d/public_repos/

#!/.bashrc
#!/.gitconfig
#!/.gitignore
#!/.screenrc
#!/.minttyrc
