eshell
org-gcal
*#
*.elc
tramp
themes
elisp-objects/
elisp/grammar
twittering-mode.gpg
jdee
projectile-bookmarks.eld
.hl-save
hgs-cache
!/.local/README.org

*.el
!init.el
el-get/el-get
el-get/recipes
el-get/*.el
el-get/*.elc
image-dired/
.org-id-locations 
var
elisp/*.elc
url
ac-comphist.dat
cedet-bzr
srecode-map.el
snippets/enh-ruby-mode/
.org-id-locations
abbrev_defs
el-get/.status.el.old
bookmarks
inits/*.elc
elisp/webkit
elpa/
elisp/ensime/
semanticdb/
history
menu_log.notes
deepin-emacs/
pomodoro.org
server
network-security.data
dic/
etc/dict/SKK-JISYO.L
eww-bookmarks
inits/tsu-nera*
emms/cache
twittering-mode.gpg.bak
quotes.txt
el-get/repo/*
.hatenabookmark